# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# RAG Outputs (Generated locally)
outputs/rag_index/
outputs/*.json

# Project specific
*.db
